
- content_for :scripts do
  :javascript
    KC.job = {
      status: { destroy_count: '---', remaining_hits: '---', elapsed_time: '---', page: 0, auth_failed_count: 0 },
      ////////////////////////////////////////////////////////////////////////
      updateStatus: function() {
        $.ajax({
          url: '#{cleaner_path}', type: 'GET', dataType: 'json',
          success: function(data, status, xhr) {
            $('#destroy_count').html(data['destroy_count']);
            $('#remaining_hits').html(data['remaining_hits']);
            $('#elapsed_time').html(data['elapsed_time']);
            $('#page').html(data['page']);
            $('#progress > .bar').width((data['page'] / 160 * 100) + '%');
            if (data['destroy_count'] != 0) {
              $('#progress').removeClass('progress-danger');
            }
            if (data['max_id'] == 0) {
              $('#progress').hide();
              $('#message').replaceWith('<p id="message" class="pending">取得可能なツイートが存在しないようです。<br>削除処理を完了してください。</p>');
            }
            else if (data['auth_failed_count'] > 3) {
              $('#progress').hide();
              $('#message').replaceWith('<p id="message" class="pending">削除は停止されました。認証情報が無効です。<br>削除処理を完了してください。</p>');
            }
            else if (data['page'] == 0) {
              $('#progress').hide();
              $('#message').replaceWith('<p id="message" class="pending">間もなく削除が開始されます。<br>このまましばらくお待ちください。</p>');
            }
            else if (data['page'] > 160) {
              $('#progress').hide();
              $('#message').replaceWith('<p id="message" class="congratulations">全てのツイートが削除されました。<br>削除処理を完了してください。</p>');
            }
            else {
              $('#progress').show();
              $('#message').hide();
            }
          }
        });
      },
    };

  :javascript
    $(document).bind('ready', function() {
      KC.job.updateStatus();
      setInterval(function() {
        KC.job.updateStatus();
      }, 30000);
    });