
- content_for :ad_top do
  = render :partial => 'layouts/scripts/adsense_top'

%section#help
  .row-fluid
    .span12
      .well
        %p
          <span class='label label-important'> [ 重要 ] </span>
        %p
          このサービスを使うと、あなたのアカウントに登録されているツイートが全て削除されます。
          一度削除されたツイートは復元することができません。
        %p
          <span class='label label-info'> [ 黒歴史クリーナーとは ] </span>
        %p
          %ul
            %li
              黒歴史クリーナーは、あなたの黒歴史ツイートをまとめて削除するためのサービスです！
            %li
              RTも削除されます。Favは削除されません。ブラウザを閉じた状態でも削除が進んでゆきます！
            %li
              4分間に20件ずつ、1時間で300件のツイートが削除されます。混雑している場合は削除スピードが遅くなります。
            %li
              削除が開始される前にツイートされたメッセージが削除対象です。削除開始後ツイートされたメッセージは削除対象になりません。新しいものから順番に削除されてゆきます。
            %li
              認証のために取得・保存されているデータは、削除完了後一定の保存期間を経た後、自動で削除されます。
            %li
              削除されるツイートは最大で3200件です。Twitterの仕様上、一般的なTwitterクライアントからは新着3200件目以降のツイートにアクセスする方法はありません。
            %li
              GoogleのキャッシュからツイートのURLを直接指定されるなど、新着3200件目以降のツイートにアクセスできる場合があります。
        %p
          <span class='label label-info'> [ 免責事項 ] </span>
        %p
          %ul
            %li
              このサービスを利用することで生じた一切の損害について責任を負うことはできません。あらかじめご了承ください。
        %p
          <span class='label label-info'> [ 作者について ] </span>
        %p
          Twitter: <a href='https://twitter.com/#!/cohakims_work' target='_blank'>@cohakim</a><br>
          BLOG: <a href='http://blog.yabasoft.biz/' target='_blank'>cohakim's blog</a><br>
          作ったアプリとか: <a href='http://cohakim.github.com/AboutMe/' target='_blank'>AboutMe</a><br>
