
%header
  %h1{style:'margin-top: 15px;'}
    黒歴史クリーナー
  %p.lead
    あなたの黒歴史を完全消去

%section#help
  .row-fluid
    .span12
      .well
        %p
          <span class='label label-info'> [ メディア掲載履歴 ] </span>
        %p
          → <a href=''>Twitterのツイートを全件削除する方法</a><br>
          [2012-03-21] 俺はブログが書けない 様に紹介記事を書いていただきました！ありがとうございます(>ω<)<br>
        %p
          <span class='label label-info'> [ 掲載のお願い ] </span>
        %p
          %ul
            %li
              黒歴史クリーナーの紹介記事を書いてくれる方を大募集しています！ご連絡いただけましたらこちらからも折り返しリンクさせていただきます。よろしくお願いします(>ω<)
        %p
          <span class='label label-info'> [ 作者について ] </span>
        %p
          Twitter: <a href='https://twitter.com/#!/cohakims_work' target='_blank'>@cohakim</a><br>
          BLOG: <a href='http://blog.yabasoft.biz/' target='_blank'>cohakim's blog</a><br>
          作ったアプリとか: <a href='http://cohakim.github.com/AboutMe/' target='_blank'>AboutMe</a><br>
%footer.footer
  %p
    © 2012 <a href='https://twitter.com/#!/cohakims_work' target='_blank'>@cohakim</a> All Rights Reserved.
