
- if smartphone?
  :plain
    <section><div class='ad'>
    <script type="text/javascript"><!--
      // XHTML should not attempt to parse these strings, declare them CDATA.
      /* <![CDATA[ */
      window.googleAfmcRequest = {
        client: 'ca-mb-pub-4435381701402377',
        format: '200x200_as',
        output: 'HTML',
        slotname: '4214827785',
      };
      /* ]]> */
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_afmc_ads.js"></script>
    <div></section>
