
- if !smartphone?
  :plain
    <section><div class='ad'>
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-4435381701402377";
    /* body-m */
    google_ad_slot = "9443256556";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </div></section>

- if smartphone?
  :plain
    <section><div class='ad'>
    <script type="text/javascript"><!--
      // XHTML should not attempt to parse these strings, declare them CDATA.
      /* <![CDATA[ */
      window.googleAfmcRequest = {
        client: 'ca-mb-pub-4435381701402377',
        format: '300x250_as',
        output: 'HTML',
        slotname: '9099806338',
      };
      /* ]]> */
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_afmc_ads.js"></script>
    </div></section>
