
* {
  -webkit-touch-callout: none;
}

input {
  -webkit-user-select: auto;
}

.ad {
  margin: 0;
  margin-bottom: 5px;
}

.help-link {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.help-link a {
  text-decoration: underline;
}

.bookmark {
  text-align: center;
}

.bookmark .service ul, .bookmark .service li {
  display: inline;
}

iframe.twitter-share-button {
  width: 90px !important;
}

#help p {
  font-size: 11px;
}

#help ul {
  margin:0;
  margin-top: 10px;
  font-size: 11px;
  list-style-type:none;
}

#help li {
  margin:6px 0px;
}

#count {
  text-align: center;
  font-size: 11px;
  margin: 0;
  margin-bottom: 5px;
}