
* {
  -webkit-touch-callout: none;
}

input {
  -webkit-user-select: auto;
}

.ad {
  margin: 0;
  margin-bottom: 5px;
}

.help-link {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.help-link a {
  text-decoration: underline;
}

.bookmark {
  text-align: center;
}

.bookmark .service ul, .bookmark .service li {
  display: inline;
}

iframe.twitter-share-button {
  width: 90px !important;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 120%;
  height: auto !important;
  height: 120%;
  min-width: 100%;
  width: 100%;
  background-color: black;
  filter:alpha(opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
}